[submodule "vendor/libarchive"]
	path = vendor/libarchive
	url = https://forgejo.koof.win/bcasey/libarchive
[submodule "vendor/nod"]
	path = vendor/nod
	url = https://forgejo.koof.win/bcasey/nod
	branch = local-changes
