[submodule "vendor/libarchive"]
	path = vendor/libarchive
	url = git@github.com:brandonocasey/libarchive.git
[submodule "vendor/nod"]
	path = vendor/nod
	url = git@github.com:encounter/nod.git
	branch = main
